<a href="/urls">
  <h1>TinyApp</h1>
</a>

<%if(user !== undefined){%>
<h3>Logged in as: <%=user.email%></h3>
<form method="POST" action="/logout"><button type="submit" class="btn btn-dark">Log Out</button></form>
<%} else {%>
<form>
  <button type="submit" formmethod="GET" formaction="/login" class="btn btn-dark">Login</button> |
  <button type="submit" formmethod="GET" formaction="/register" class="btn btn-dark">Register</button>
</form>
<%}%>