<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://cdn4.iconfinder.com/data/icons/web-links/512/41-512.png" width="40" height="40"
    class="d-inline-block align-top" />
  <a class="navbar-brand" href="/urls">
    <h2>TinyApp</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/urls">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/urls/new">New Link</a>
      <%if(user !== undefined){%>
      <a id="logged-in-as" class="nav-item nav-link disabled">Logged in as: <%=user.email%> </a>
      <form><button type="submit" formmethod="POST" formaction="/logout" class="btn btn-dark">Logout</button></form>
      <%} else {%>
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Register</a>
      <%}%>
    </div>
  </div>
</nav>
<style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background: #8e9eab;
      background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
      background: linear-gradient(to right, #eef2f3, #8e9eab);
    }

    a {
      color: #202020;
    }
    #logged-in-as{
      color: #080808;
    }
    .main{
      margin-top: 4rem;
      padding: 1rem;
      background-color: rgba(255,255,255,0.5);
    }
    .main h2{
      text-align: center;
    }
    ul{
      list-style:none;
    }
    .visit-log{
      text-align:center;
    }
  </style>