<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>
<%if(longURL !== undefined){%>

<body style="font-size:20px; padding:50px;">
  <h2>ShortURL: <strong><%=shortURL %></strong></h2>
  <form class="form-inline" action="/urls/<%=shortURL%>" method="POST">
    <div class="form-group mb-2">
      <label for="longURL">URL:</label>
      <input class="form-control" type="text" name="longURL" value="<%=longURL%>" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-warning">Update</button>
    </div>
  </form>
  <%} else if (user !== undefined) {%>
  <h2><strong>Error:</strong> Link not found.</h2>
  <%} else {%>
  <h2><strong>Error:</strong>You are currently not logged in. If you are the owner of this link, please Login.</h2>
  <%}%>

</body>

</html>